a {
  color: black;
  text-decoration: none;
}

a:focus,
a:hover {
  color: rgba(0, 0, 0, 0.516);
  text-decoration: none;
}

body {
  background-color: #f6f0f1;
  padding-top: 0px;
  padding-bottom: 25px;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: 'Fontin';
  font-size: 15px;
}

strong {
  font-family: 'Fontin';
  font-size: 15px;
}

heading {
  font-family: 'Fontin';
  font-size: 22px;
  font-weight: 700
}

papertitle {
  font-family: 'Fontin';
  font-size: 14px;
  font-weight: 700;
}

name {
  font-family: 'Fontin';
  font-size: 25px;
}

venue {
  font-family: 'Fontin';
  border-radius: 0.25rem;
  font-size: smaller; 
  border: solid #9E9E9E; 
  border-width: 1px; 
  font-weight: bold;
  margin-left: 0;
  padding: 1px 5px 1px 5px;
}

pub {
  margin: 5px 0px 5px 0px;
  font-size: small;
}

span.highlight {
  background: linear-gradient(to right, #f9f1f3 , rgb(230, 213, 213));;
}

button {
  display: inline-block;
  padding: 0.3em 0.4em;
  font-size: small;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.425rem;
  border: none;
}

#small-caps {
  font-variant-caps: small-caps;
}  

.news {
  border-collapse: collapse;
  border-spacing: 0;
}

.tdnews {
  border: none;
  border-style: none none none none;
  padding: 0px 10px 0px 10px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.hoverable {
  transition: transform .2s;
}

.hoverable:hover {
  border: .5px solid black;
  transform: scale(3.5);
}

.hoverable2 {
  transition: transform .2s;
}

.hoverable2:hover {
  border: 1px solid black;
}

tab {
  padding-left: 10px;
}

#publicationContainer {
  width: 100%;
  height: 90px;
  padding-bottom: 5px;
}

#publicationImage {
  height: 100%;
  border: 1px solid black;
  float: left;
  margin-right: 10px;
}

#publicationText {
  display: block;
}

#me {
  vertical-align: top;
}

.publicationLinks {
  color: #1772cf;
  text-decoration: none;
  font-weight: 700;
  font-size: medium;
  padding-right: 4px;
}

@media (min-width: 1250px) {
  .container {
    width: 1250px;
  }
}


#initial {
  display: block;
}